/* mobile */
/* MOBILE FIRST */
.product__cont--father{
    margin: 30px;
}
.product-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* tablet */
@media screen and (min-width: 40em) and (max-width: 63.9em){
    .product__cont--father{
        margin: 30px;
    }
    .product-cont{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
}

.product-detail{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(200%);
    transition: all ease-out 0.5s;
    /* position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all ease-out 0.5s;
    transform: translateX(-100%);
    display: none; */
}

.btn-detail{
    width: 100%;
    background-color: rgb(230, 100, 100);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 2s ease-out;
}

.btn-detail:hover{
    background-color: rgb(170, 85, 85);
}


.product-detail.active{
    display: unset !important;
    transform: translateX(0%);
}

.btn__loadmore{
    margin-top: 20px;
    width: 100%;
    padding: 5px;
    border: none;
    color: white;
    background-color: rgb(100, 132, 51);
    cursor: pointer;
}

/* web */
@media screen and (min-width: 64em){
    .product__cont--father{
        margin: 30px;
    }
    .product-cont{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 35px;
        
    }
    .product-detail{
        position: fixed;
        top: 0;
        left: 65%;
        bottom: 0;
        right: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all ease-out 0.5s;
        transform: translateX(100%); 
    }
    .product-detail.active{
        display: unset !important;
        transform: translateX(0);
    }
}