.screen-cont{
    position: fixed;
    height: 100%;
    width: 100%;
    /* backdrop-filter: brightness(30%); */
}

.btn-close-cart{
    width: 100%;
    background-color: rgb(227, 98, 98);
    color:white;
    border: none;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.productCart-cont{
    height: 90%;
    width: 100%;
    display: block;
    margin: auto;
    background-color: rgba(40, 40, 38, 0.527);
    overflow-x: hidden;
    backdrop-filter: blur(2px);
}

.cont-price{
    display: flex;
    margin: 10px;
    justify-content: center;
    color: rgb(156, 246, 156);
    font-size: 20px;
}

.cart-product{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.cart-col{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 64em){
    .productCart-cont{
        height: 90%;
        width: 50%;
    }
}