    <div class="screen-cont">
        <div class="productCart-cont">
            <button (click)="closeCart()" class="btn-close-cart">X</button>
            <div class="cont-price">
               Total: ${{totalPrice$ | async | trunc}}
            </div>
        <div class="cart-product">
            <div class="cart-col">
                <app-cartproduct [product]="myCartProduct" *ngFor="let myCartProduct of myCartProducts$ | async"></app-cartproduct>
            </div>
        </div>
    </div>
    </div>
