<div class="show-mobile">
    <div>
        <button (click)="toggleMenu()" class="btn-menu">
            <img width="40" src="https://cdn-icons-png.flaticon.com/512/149/149719.png" alt="menu">
        </button>
        <a href="">
            <img width="40" src="https://cdn-icons-png.flaticon.com/512/1345/1345040.png" alt="logo">
        </a>
        <span>Store!</span>
            <div>
                <img (click)="openCart()" width="40" src="https://cdn-icons-png.flaticon.com/512/263/263142.png" alt="logo">
                <span>{{counter}}</span>  
            </div>
    </div>
    <div class="side-menu" [ngClass]="{active: showMenu}">
        <button class="btnInactive" (click)="toggleMenu()" [ngClass]="{btnActive: showMenu}" >X</button>
        <ul class="ulInactive" [ngClass]="{ulActive: showMenu}">
            <li>All</li>
            <li>Clothes</li>
            <li>Electronics</li>
        </ul>
    </div>
</div>
<div class="hide-mobile">
    <div>
        <nav class="cont-nav">
            <a href="">
                <img width="50" src="https://cdn-icons-png.flaticon.com/512/1345/1345040.png" alt="logo">
            </a>
            <ul class="items">
                <app-categories [category]="category" *ngFor="let category of categories"></app-categories>
            </ul>
        </nav>
        <div class="info">
            <div *ngIf="token.getToken(); else elseBlock" class="account">
                {{userInfo.email}}
                <button (click)="getProfile()">profile</button>
                <button (click)="logout()">Logout</button>
            </div>
            <ng-template #elseBlock>
                <button (click)="createUser()">crear</button>
                <button (click)="login(userInfo)">login</button>
                <div>
                    <input [(ngModel)]="userInfo.name" placeholder="Name..." type="text">
                    <input [(ngModel)]="userInfo.password" placeholder="Password" type="password">
                    <input [(ngModel)]="userInfo.email" placeholder="Email" type="email">
                </div>
                    
            </ng-template>
                            <div>
                    
                </div>

            <div>
                <img (click)="openCart()" width="50" src="https://cdn-icons-png.flaticon.com/512/263/263142.png" alt="logo">
              <span>{{counter}}</span>  
         </div>
        </div>
    </div>
</div>
