<!-- <img width="200"[src]="product.image" alt=""> -->
<div  class="cont-product">
    <div class="cont-product-col">
        <div class="cont-img-product">
            <app-img *ngIf="product.images !== undefined; else elseBlock"  [productImg]="product.images[0]" [productAlt]="product.title" ></app-img>
            <ng-template #elseBlock>
                    CARGANDO...
            </ng-template>
        </div>
    <div class="cont-product-col">
        <p>{{product.price | currency:'ARS'}}</p>
        <p>{{product.title | slice}}</p>
        <!-- <p >{{product.description}}</p> -->
    </div>
<div class="cont-btn-product">
    <button class="btn-cart" (click)="addProduct()">Add Cart</button>
</div>
    </div>
</div> 


   
