/* You can add global styles to this file, and also import other style files */

@import url(./styles/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import '~swiper/css';
*{
    font-family: 'Quicksand', sans-serif;
}

.product-cont > app-product > app-img > .img-product{
    border-radius: 10px;
    border: 2px solid rgb(207, 147, 147);
}

.load-spinner{
    border: 3px solid rgba(209, 30, 30, 0.484);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border-left-color: transparent ;
    animation: spin 1s ease infinite;

}

.cont-spinner{
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
}